antiorm==1.2.1
anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
astroid==2.11.5
asttokens==2.0.5
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
black==22.3.0
bs4==0.0.1
btrfsutil==5.18
CacheControl==0.12.6
cachy==0.3.0
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cleo==0.8.1
click==8.1.3
clikit==0.6.2
colorama==0.4.4
commonmark==0.9.1
ConfigArgParse==1.5
contextlib2==0.6.0.post1
crashtest==0.3.1
cryptography==37.0.2
db==0.1.1
decorator==5.1.1
dill==0.3.5.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.1
docutils==0.18.1
entrypoints==0.4
executing==0.8.3
fastapi==0.78.0
filelock==3.7.0
Flask==2.1.2
greenlet==1.1.2
h11==0.13.0
html5lib==1.1
httptools==0.4.0
idna==3.3
importlib-metadata==4.8.1
ipython==8.3.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
kaggle==1.5.12
keyring==23.4.0
lazy-object-proxy==1.7.1
lit==13.0.1.dev0
lockfile==0.12.2
lxml==4.8.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
more-itertools==8.12.0
msgpack==1.0.3
mypy==0.950
mypy-extensions==0.4.3
netsnmp-python==1.0a1
numpy==1.22.3
ordered-set==4.0.2
packaging==21.3
parso==0.8.3
pastel==0.2.1
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
pip-review==1.1.1
pkginfo==1.8.2
platformdirs==2.5.2
ply==3.11
poetry==1.1.13
poetry-core==1.0.8
progress==1.6
prompt-toolkit==3.0.29
protobuf==3.20.1
proton-client==0.7.1
protonvpn-cli==3.11.1
protonvpn-gui==1.8.0
protonvpn-nm-lib==3.9.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pycairo==1.21.0
pycparser==2.21
pydantic==1.9.1
Pygments==2.12.0
PyGObject==3.42.1
pylev==1.4.0
pylint==2.13.9
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-gnupg==0.4.9
python-slugify==6.1.2
pythondialog==3.5.3
pyxdg==0.27
PyYAML==6.0
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
requests==2.27.1
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rich==12.4.4
rofimoji==5.4.0
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.2.0
starlette==0.19.1
systemd-python==234
TBB==0.2
team==1.0
text-unidecode==1.3
textual==0.1.18
tiptop==0.2.5
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.2
torch==1.11.0
tqdm==4.64.0
traitlets==5.2.1.post0
types-requests==2.27.27
types-urllib3==1.26.14
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
virtualenv==20.14.1
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.1.2
wrapt==1.14.1
youtube-dl==2021.12.17
zipp==3.8.0
